<h1> Listing all articles </h1>
<%= link_to "Create a new article", new_article_path %> <br/><br/>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

  <% @articles.each do |article| %>

  <tr>
    <td> <%= link_to article.title, edit_article_path(article) %> </td>
    <td> <%= article.description %> </td>
    <td> <%= link_to "Show", article_path(article) %> </td>
    <td> <%= link_to "Delete", article_path(article), method: :delete, data: {confirm: "Are your sure?"} %> </td>
  </tr>
  <% end %>
</table>

Total ... <%= @articles.size %>
